@charset "utf-8";
html,
body,
li,
ul {
  margin: 0;
  padding: 0;
}
#background {
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
/* 内容 */
.inner {
  width: 100%;
  height: 100%;
}
/*导航 */
.nav {
  position: fixed;
  position: relative;
  width: 100%;
  height: 30px;
  background: rgba(155, 155, 155, 0.233);
}
.navbox {
  width: 1000px;
  height: 30px;
  margin: auto;
  text-align: right;
}
.navbox ul li {
  position: relative;
  display: inline-block;
  line-height: 30px;
  margin-right: 15px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.navbox ul li:not(:last-child):after {
  content: "";
  width: 1px;
  height: 14px;
  background: white;
  position: absolute;
  top: 7px;
  right: -10px;
  display: block;
}
.navbox ul li:hover {
  color: rgb(186, 243, 247);
}
/* 提示框 */
.Tooltip {
  position: relative;
}
.Tooltip .Tooltiptext {
  visibility: hidden;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  margin-top: 40px;
  margin-left: -105px;
  opacity: 0;
  transition: opacity 1s;
}
.Tooltip .Tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}
.Tooltip:hover .Tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* 百度搜索 */
.search {
  width: 100%;
  height: 200px;
  position: relative;
}
.search .baidu {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: auto;
  text-align: center;
}
.search .baidu img {
  zoom: 50%;
}
.search .baidu #text {
  position: relative;
  width: 600px;
  height: 30px;
  border: 3px solid #4e6ef2;
  border-radius: 10px 10px 10px 10px;
  border-right: none;
}
.search .baidu #submit {
  position: absolute;
  width: 100px;
  line-height: 30px;
  background: #4e6ef2;
  border: 3px solid #4e6ef2;
  font-size: 18px;
  border-left: none;
  margin-left: -100px;
  border-radius: 0 10px 10px 0;
  color: #fff;
  cursor: pointer;
}
.search .baidu #submit:hover {
  background: #4668f1d7;
  border: 3px solid #4668f1d7;
  border-left: none;
}
/* 展示 */
.Exhibition {
  width: 1000px;
  height: 100%;
  /* background: rgba(185, 179, 179, 0.384); */
  margin: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.icon {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 10px;
}
.icon img {
  width: 40%;
  height: 40%;
  padding: 30px;
}
p {
  width: 100px;
  position: absolute;
  text-align: center;
  top: 65px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}
samp {
  width: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  font-size: 25px;
  color: #fff;
  font-family: "宋体";
}
.big {
  width: 100px;
  height: 100px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  position: absolute;
  cursor: pointer;
  top: 0px;
  opacity: 0;
  transition: 0.3s;
}
.big:hover {
  opacity: 1;
}
